<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Todos</title>
    </head>
    <body>

        <h1>Todos</h1>

        <ul>
            <li th:each="todo : ${todos}" ><span th:utext="${todo.task}"></span></li>
        </ul>
        
        <form action="#" th:action="@{/todos}" method="POST">
            <p><label for="todo">New todo</label>: <input type="text" name="todo" id="todo"/></p>
            <p><input type="submit" value="Submit" /></p>
        </form>

        <p></p>
    </body>
</html>
